*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar {
  background-color: rgb(0, 13, 35);
  ;
  padding: 20px 24px;
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  /* box-shadow: 0 2px 5px rgba(0,0,0,0.1); */
}

.navbar-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar-brand {
  font-size: 25px;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.navbar-links {
  display: flex;
  gap: 16px;
}

.navbar-link {
  color: white;
  text-decoration: none;
}

.navbar-btn {
  background-color: rgb(37, 106, 255);
  border: none;
  color: white;
  padding: 15px 25px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
}

.navbar-btn:hover {
  background-color: #1d4ed8;
}
